<ng-container>
      <form [formGroup]="addressForm">
        <mat-form-field class="address-line">
          <mat-label>Street Line 1:</mat-label>
          <input matInput type="text" formControlName="street1">
        </mat-form-field>
        <mat-form-field class="address-line">
          <mat-label>Street Line 2:</mat-label>
          <input matInput type="text" formControlName="street2">
        </mat-form-field>
        <mat-form-field class="address-line">
          <mat-label>City:</mat-label>
          <input matInput type="text" formControlName="city">
        </mat-form-field>
        <mat-form-field class="address-line">
          <mat-label>State:</mat-label>
          <input matInput type="text" formControlName="state">
        </mat-form-field>
        <mat-form-field class="address-line">
          <mat-label>Zip:</mat-label>
          <input matInput type="text" formControlName="zip">
        </mat-form-field>
      </form>
</ng-container>
