<mat-toolbar color="primary">
  <button
    *ngIf="sidenavOpen$ | async; else close"
    mat-icon-button
    (click)="closeSidenav()"
    aria-label="Collapse Sidenav"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <ng-template #close>
    <button mat-icon-button (click)="openSidenav()" aria-label="Expand Sidenav">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </ng-template>
  <span>My App</span>

  <span class="spacer"></span>

  <button mat-icon-button aria-label="">
    <mat-icon>favorite</mat-icon>
  </button>

  <button mat-icon-button aria-label="">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
